<html>
    <head>
        <title>22222TESTESTEST22222</title>
        <link href='https://fonts.googleapis.com/css?family=Audiowide|Iceland|Monoton|Pacifico|Press+Start+2P|Vampiro+One'
        rel='stylesheet'>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
    <body>
        <!-- <% for (var i = 0; i < data.length; i++) { %>
            <ul>
                <li><%= data[i].name %></li><li><%= data[i].address %></li>
            </ul>
        <% } %> -->

        <h1><%= title %></h1>
<a href="">글쓰기</a>
<table border="1">
    <tr>
        <td>번호</td>
        <td>아이디</td>
        <td>이름</td>
        <td>가입일자</td>
        <td>전화번호</td>
        <td>메모</td>
    </tr>
    <%
    for(var i = (page * page_num) - page_num; i < (page * page_num); i++) {
    if(i > length){
        i++;
    }else{
        var data = data[i]
    %>
    <tr>
        <td><%= i + 1 %></td>
        <td><%= data.sno %></td>
        <td><a href="/board/read/<%= data.sno %>"><%= data.name %></a></td>
        <td><%= data.joinDate %></td>
        <td><%= data.phone %></td>
        <td><%= data.memo %></td>
    </tr>
    <% }
    }
    %>
    <tr>
        <td colspan="6">
            <%
            for(var j = 0; j < data.length / page_num; j++){
            %>
            [<a href="/board/page/<%= j + 1 %>"><%= j + 1 %></a>]
            <%
            }
            %>
        </td>
    </tr>
</table>

    </body>
</html>
