<html>
    <head>
        title 게시판 목록
    </head>
    <body>
        <h1>회원 목록</h1>
        <a href='/main/add'><button type='button'>회원추가 추가</button></a>
        <table border='1'>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
            </tr>
            <%         
            for(let i=0; i<data.mainList.length; i++) {        
            %> 
            <tr>   
                <th><%=data.mainList[i].sno %></th>
                <th><a href='/mainDetail/<%= data.mainList[i].sno %>'><%= data.mainList[i].address %></a></th>
                <th><%=data.mainList[i].name %></th>
            </tr>                   
            <%  
            }
            %> 
        </table> 
            <%
            if (data.currentPage > 1) {
            %> 
                <a href='/main/<%=data.currentPage-1 %>'>이전</a> 
            <%    
            }
            if (data.currentPage < data.lastPage) {
            %>        
                <a href='/main/<%= data.currentPage+1 %>'>다음</a>   
            <%    
            }
            %> 
    </body>
</html>
