<%- include ('./layouts/header_2.ejs') %>

<section id="cardAnimation" class="cardAnimation" style="margin: 2rem;">
    <div class="row" >
    <div class="col-12">
        <div class="card">
          <div class="card-header" style="margin-bottom: 1rem;">
            <h4 class="card-title" style="font-family: Nanum Gothic;" >신도 상세 페이지</h4>
        <p style="font-family: Nanum Gothic;">신도카드 :     <%= familyData[0].name %>불자님의 번호 <%= familyData[0].sno %>-<%= mainData[0].sno %> </p>
        <button type="button" class="btn btn-warning btn-min-width box-shadow-4 mr-1 mb-1">Warning</button>
          </div>  
    <div class="card-content collapse show">
        <div class="card-body" >  
    <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="card box-shadow-0" data-appear="appear" data-animation="zoomIn">
        <div class="card-header bg-primary white" >
          <h4 class="card-title white" style="font-family: Nanum Gothic;"> 대표자</h4>
         
        </div>
        <div class="card-content collapse show">
          <div class="card-body border-bottom-primary">
            <p class="card-text" style="font-family: Nanum Gothic;"><%= mainData[0].name %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card box-shadow-0" data-appear="appear" data-animation="zoomIn">
        <div class="card-header white bg-success">
          <h4 class="card-title white" style="font-family: Nanum Gothic;">불자 카드번호</h4>
          
        </div>
        <div class="card-content collapse show">
          <div class="card-body border-bottom-success">
            <p class="card-text" style="font-family: Nanum Gothic;"><%= mainData[0].sno %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card box-shadow-0" data-appear="appear" data-animation="zoomIn">
        <div class="card-header white bg-danger">
          <h4 class="card-title white" style="font-family: Nanum Gothic;">불자 주소</h4>
          
        </div>
        <div class="card-content collapse show">
          <div class="card-body border-bottom-danger">
            <p class="card-text" style="font-family: Nanum Gothic;"><%= mainData[0].address %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card box-shadow-0" data-appear="appear" data-animation="zoomIn">
        <div class="card-header white bg-warning">
          <h4 class="card-title white" style="font-family: Nanum Gothic;">불자 전화번호</h4>
          
        </div>
        <div class="card-content collapse show">
          <div class="card-body border-bottom-warning">
            <p class="card-text" style="font-family: Nanum Gothic;"><%= mainData[0].Phone %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card box-shadow-0" data-appear="appear" data-animation="zoomIn">
        <div class="card-header white bg-info">
          <h4 class="card-title white" style="font-family: Nanum Gothic;">불자 법명</h4>
          
        </div>
        <div class="card-content collapse show">
          <div class="card-body border-bottom-info">
            <p class="card-text" style="font-family: Nanum Gothic;"><%= mainData[0].hname %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card box-shadow-0" data-appear="appear" data-animation="zoomIn">
        <div class="card-header white bg-blue-grey"> 
            <h4 class="card-title text-white" style="font-family: Nanum Gothic;">모(母)신도</h4>
            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
            
         
        </div>
        <div class="card-content collapse show">
          <div class="card-body border-bottom-blue-grey">
            
            <p class="card-text" style="font-family: Nanum Gothic;">
                <% if (mainData[0].parentSno != 0) { %>
            <p><%= mainData[0].parentSno %></p> 
           <% } %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="card" data-appear="appear" data-animation="zoomIn">
          <div class="card-header card-head-inverse bg-success">
              
            <h4 class="card-title text-white" style="font-family: Nanum Gothic;">메모</h4>
            
          </div>
          <div class="card-content collapse show">
            <div class="card-body border-bottom-success">
              <p class="card-text"> <%= mainData[0].memo %></p>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
</div>
</div>
</div>

</section>
<!-- Card animation end -->

        <!-- Restricted column ordering -->
          <section id="column-visibility">
            <div class="row">
            <div class="col-12">
              <div class="card">
                  <div class="card-header">
                    <h4 style="font-family: Nanum Gothic; font-size: 2rem;" class="card-title">가족리스트</h4>
                    
                    </div>
                <div class="card-content collapse show">
                  <div class="card-body card-dashboard">
                 <!-- Table header styling start -->
        <div class="row" id="header-styling">
            <div class="col-12">
              
                  <div class="table-responsive" style="margin-top: 15px;">
                    <table class="table table-striped table-bordered zero-configuration" >
                      <thead class="bg-success white">
                        <tr>
                        <% for(var i=0;i<headerName.length;i++) { %>
                          <th style="font-family: Nanum Gothic;"><%= headerName[i] %></th>
                        <% } %>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(var i=0; i<familyData.length ;i++ ){ %>
                        <tr>
                        <td><%= i+1 %></td>
                          <td><%= familyData[i].relation %></td>
                          <td><%= familyData[i].name %></td>
                          <td><%= familyData[i].bName %></td>
                          <td><%= familyData[i].sBirthDate %></td>
                          <td><%= familyData[i].hPhone %></td>
                          <td><%= familyData[i].job %></td>
                          <td><%= familyData[i].hpYN %></td>
                          <td><%= familyData[i].hpYN %></td>
                          <td><%= familyData[i].sno %></td>
                        </tr>
                        <% } %>
                      </tbody>
                    </table>
                  
              </div>
            <!-- </div> -->
        <!-- </div>
        </div> -->
        </div>
        </div>
        </div>
        </section>
         
          <!-- Table header styling end -->

         <!-- Button animation start -->
         <section id="btnAnimation" class="btnAnimation">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Button Animation</h4>
                  
                  </div>
                  <div class="card-content collapse show">
                    <div class="card-body">
                      <p>Hover over the buttons to see animated buttons. Use <code>data-animation="animation"</code>                      to button to animate button.</p>
                      <div class="row">
                        <div class="col-md-4 text-center mb-2">
                          <button type="button" class="btn btn-primary width-200 buttonAnimation" data-animation="rubberBand">Rubber Band</button>
                        </div>
                        <div class="col-md-4 text-center mb-2">
                          <button type="button" class="btn btn-success width-200 buttonAnimation" data-animation="tada">Tada</button>
                        </div>
                        <div class="col-md-4 text-center mb-2">
                          <button type="button" class="btn btn-info width-200 buttonAnimation" data-animation="pulse">Pulse</button>
                        </div>
                        <div class="col-md-4 text-center mb-2">
                          <button type="button" class="btn btn-warning width-200 buttonAnimation" data-animation="jello">Jello</button>
                        </div>
                        <div class="col-md-4 text-center mb-2">
                          <button type="button" class="btn btn-danger width-200 buttonAnimation" data-animation="bounce">Bounce</button>
                        </div>
                        <div class="col-md-4 text-center mb-2">
                          <button type="button" class="btn bg-blue width-200 white buttonAnimation" data-animation="flash">Flash</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </section>

<%- include ('./layouts/footer.ejs') %>